@import '../../utils/vars.scss';

.outlay {
  max-width: 615px;
  width: 100%;
  background: $bgMain;
  border-radius: 10px;
  padding: 15px;
  color: $textColor;
  position: relative;

  &__dashed {
    position: absolute;
    border-top: 1px dashed $borderColor;
    bottom: 144px;
    width: 542px;
  }

    &__one {
      position: absolute;
      border-top: 1px dashed $borderColor;
      bottom: 76px;
      width: 542px;
    }

    &__two {
      position: absolute;
      border-top: 1px dashed $borderColor;
      bottom: 110px;
      width: 542px;
    }
  
  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__select {
    display: flex;
    font-weight: normal;
    font-size: 8px;
    line-height: 9px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 240px;
    width: 100%;

    &--previous {
      display: flex;
      align-items: center;
      gap: 6px;
    }

    &--selected {
      display: flex;
      align-items: center;
      gap: 6px;
    }

    &--bullet {
      width: 6px;
      height: 6px;
      background: $violetColor;
      border-radius: 50%;
      z-index: 40;
    }
    
    &--bullet-red {
      width: 6px;
      height: 6px;
      background: $redColor;
      border-radius: 50%;
    }

    &--month {
      background: $borderColor;
      border-radius: 20px;
      padding: 6px 10px;
      display: flex;
      align-items: center;
      gap: 10px;

      &:hover {
        cursor: pointer;
      }
    }

    &--arrow {
      fill: transparent;
      width: 12px;
      height: 12px;
    }
  }

  &__wrapp {
    display: flex;
    justify-content: space-between;
    max-width: 580px;
    width: 100%;
  }

  &__violetvector {
    margin-top: 20px;
    border-bottom: 1px solid $vectorBorder;
    border-top: 1px dashed $borderColor;
    width: 542px;
    z-index: 20;
    position: absolute;
  }

  &__redvector {
    position: relative;
    bottom: 41px;

    z-index: 30;
    width: 542px;
    top: 20px;
  }

  &__numbers {
    display: flex;
    gap: 82px;
    padding-top: 12px;
    padding-left: 38px;
  }

  &__point {
    position: absolute;
    border-top: 1px dashed $violetColor;
    border-bottom: none;
    transform: rotate(-90deg);
    width: 93px;
    right: 175px;
    bottom: 80px;
    z-index: 40;

    &--bullet {
      position: absolute;
      width: 4px;
      height: 4px;
      background: $blackColor;
      border-radius: 50%;
      top: -3px;
      left: 90px;
      z-index: 40;
    }

    &--gradient {
      position: absolute;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      top: -4px;
      left: 89px;
      background: $bgGradient;
    }  
    
    &--price {
      position: absolute;
      font-weight: normal;
      font-size: 8px;
      line-height: 9px;
      display: flex;
      align-items: center;
      color: $textColor;
      right: 200px;
      bottom: 134px;
      z-index: 40;
      padding: 4px 11px;
      background: $borderColor;
      border-radius: 3px;
    }

    &--piece {
      position: absolute;
      width: 6px;
      height: 6px;
      display: flex;
      align-items: center;
      background: $borderColor;
      right: 218px;
      bottom: 132px;
      border-radius: 0.5px;
      transform: rotate(135deg);
      z-index: 40;
      border-radius: 1px;
    }

    &--first {
      position: absolute;
      bottom: 90px;
      left: 115px;
      z-index: 45;
    }
  }
}
