@import '../../../../utils/vars.scss';

.price {
  font-weight: normal;
  font-size: 8px;
  line-height: 9px;
  display: flex;
  flex-direction: column;
  color: $textColor;
  padding-bottom: 18px;
  max-width: 30px;
  margin-right: 0;
}
