@import '../../utils/vars.scss';

.header {
  width: 100%;
  background: $bgMain;
  border-radius: 0px 20px 0px 10px;
  padding: 22px 32px 22px 17px;
  max-height: 67px;
  height: 100%;
  color: $textColor;

  &__congrats {
    font-size: 14px;
    display: flex;
    align-items: center;
    font-family: 'Gilroy-Light', sans-serif;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 10px;

    &:hover {
      cursor: pointer;
    }
  }

  &__images {
    display: flex;
    align-items: center;
    gap: 12px;
    position: relative;
  }

  &__image {
    width: 18px;
    height: 18px;
    fill: transparent;

    &--round {
      position: absolute;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      left: 70px;
      top: 3px;
      background: $pinkGradient;
    }
  }

  &__person {
    display: flex;
    gap: 14px;

    &--name {
      font-size: 8px;
      display: flex;
      align-items: center;
      font-family: 'Gilroy-Light', sans-serif;
    }
  }
}
