$bgMain: #24263A;
$textColor: #DBDFEA;
$whiteColor: #fff;
$borderColor: #1D1E2C;
$pinkGradient: linear-gradient(90deg, #DC2430 0%, #7B4397 99.99%);
$violetColor: #894BA9;
$redColor: #E03A45;
$vectorBorder: #201E2D;
$blackColor: #000;
$bgGradient: linear-gradient(180deg, #DC2430 0%, #7B4397 100%);
$bodyBgColor: #171825;