@font-face {
  font-family: 'Gilroy-Bold';
  src: url('../fonts/Gilroy-Bold.ttf') format('ttf'); //600
}

@font-face {
  font-family: 'Gilroy-Light';
  src: url('../fonts/Gilroy-Light.ttf') format('ttf'); //600
}
